/*  your css code here. If applicable */

body {
	margin: 0;
}

.navbar {
	display: flex;
	justify-content: space-between;
	background-color: #6e072d;
	color: white;
	width: 100%;
}

.navbar ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navbar li {
	font-size: 18px;
	padding: 18px 27px;
	transition: background-color 0.2s ease;
}

.navbar li:hover {
	background-color: #b90e4d;
	cursor: pointer;
}
.navbar li:not(:last-child) {
	border-right: 2px solid white;
}